@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
.ff-inter { font-family: 'Inter', sans-serif; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #212325;
  padding-top: 30px;
}

.TextCopyright {
  display: flex;
  justify-self: start;
  padding-bottom: 10px;
}

.LogoFooter {
  display: flex;
  justify-self: end;
  padding-bottom: 20px;
}

footer small {
  color: white;
}

@media (max-width: 576px) {
  .header .logo {
    padding: 2rem;
  }

  .header p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
