footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #212325;
  padding-top: 100px;
}

.TextCopyright {
  display: flex;
  justify-self: start;
  padding-bottom: 10px;
}

.LogoFooter {
  display: flex;
  justify-self: end;
  padding-bottom: 20px;
}

footer small {
  color: white;
}

@media (max-width: 576px) {
  .header .logo {
    padding: 2rem;
  }

  .header p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
