.header-section {
    background: url(/assets/imagens/fundo-cabecalho.png);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-section .logo {
    width: 46%;
    padding: 2rem 3rem;
  }

  .header-section .logo img {
    width: 90%;
    max-width: 350px;
    margin-bottom: 2rem;
  }

  .header-section .imagem{
    width: 40%;
  }

  .header-section p {
    font-size: 2rem;
    color: #6BD1FF;
  }

  @media (max-width: 576px) {
    .header-section .logo {
      padding: 2rem;
    }
    .header-section p {
      font-size: 1.5rem
    }
  }

  @media (max-width: 768px) {
    .header-section .logo {
      width: 90%;
    }
    .header-section .imagem {
      display: none;
    }
  }
