.header-section {
    display: flex;
    justify-content: space-around;
    background-color:  #212325;
  }

  .header-section .logo {
    width: 46%;
    padding: 2rem;
  }

  .header-section .logo img {
    max-width: 200px;
    margin-top: 10px;
    cursor: pointer;
  }

  .header-section p{
    margin-top: 20px;
    color: #f0f8ff;
    font-weight: 500;
  }

  .header-section .add{
    color: black;
    max-width: 270px;
    padding: 1rem;
    transition: 0.5s ease;
    margin: 50px;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .header-section .add:hover{
    background-image: linear-gradient(to right, #b0dcee , #84c3d6);

  }

  .btn-icon{
    margin-right: 10px;
    height: 26px;
    width: 26px;
  }

  .nav-link{
    display: flex;
    flex-direction: row;
    align-content: end;
    font-size: 1rem;
    margin-top: 30px;
    color: white;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .nav-link:hover{
    text-decoration: underline;
  }

  @media (max-width: 576px) {
    .header-section .logo {
      padding: 2rem;
    }
    .header-section p {
      font-size: 1.5rem
    }
  }

  @media (max-width: 768px) {
    .header-section .logo {
      width: 90%;
    }
    .header-section .imagem {
      display: none;
    }
  }


