<header class="header-section ff-bricolage">
  <div class="logo">
    <img
      src="../../../assets/imagens/logo-memoteca.png"
      alt="Logo da Aplicação Memoteca" routerLink="/listNotes"
    />
    <p>O lugar para os seus lembretes e ideias</p>
  </div>
  <button routerLink="/createNote" class="add">
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="btn-icon bi bi-plus-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
    </svg>
    Adicionar um novo lembrete
  </button>

</header>
