<section class="container create-notes ff-inter">
  <header class="header">
    <div>
      <button routerLink="/listNotes" class="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
        </svg>
        Voltar para a lista
      </button>
    </div>
    <p class="title">Adicione um novo lembrete</p>
  </header>
  <form [formGroup]="form">

    <label for="note">Anotação</label>
    <input
      type="textarea"
      class="input"
      id="content"
      formControlName="content"
      placeholder="Digite a anotação"
    />
    <div
      class="error-message"
      *ngIf="form.get('content')?.errors?.['required'] && form.get('content')?.touched"
    >
      Este campo é obrigatório.
    </div>
    <div
      class="error-message"
      *ngIf="form.get('content')?.errors?.['pattern'] && form.get('content')?.touched"
    >
      Este campo não aceita números.
    </div>
    <label for="author">Autoria</label>
    <input
      type="text"
      class="input"
      id="author"
      formControlName="author"
      placeholder="Digite o autor"
    />
    <div
      class="error-message"
      *ngIf="form.get('author')?.errors?.['required'] && form.get('author')?.touched"
    >
      Este campo é obrigatório.
    </div>
    <div
      class="error-message"
      *ngIf="form.get('author')?.errors?.['minlength'] && form.get('author')?.touched"
    >
      O nome do autor precisa ter no mínimo 3 caracteres.
    </div>
    <div
      class="error-message"
      *ngIf="form.get('author')?.errors?.['upperCase'] && form.get('author')?.touched"
    >
      Este campo aceita apenas letras maiúsculas.
    </div>
    <div
      class="error-message"
      *ngIf="form.get('author')?.errors?.['pattern'] && form.get('author')?.touched"
    >
      Este campo não aceita números.
    </div>
    <label form="model">Selecione o modelo do card: </label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model1">
          <input
            type="radio"
            id="model1"
            value="model1"
            formControlName="model"
          />

          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="model model1 ff-roboto-mono">
          <p class="content">{{ form.get("content")?.value }}</p>
          <p class="author">
            <b> {{ form.get("author")?.value }} </b>
          </p>
          <div class="actions">
            <button class="actions-button">
              <img
                src="/assets/imagens/icone-favorito-ativo.png"
                alt="Ícone de favorito"
              />
            </button>
            <button class="actions-button">
              <img src="/assets/imagens/icone-editar.png" />
            </button>
            <button class="actions-button">
              <img
                src="/assets/imagens/icone-excluir.png"
                alt="Ícone de excluir"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="radio-model">
        <label for="model2">
          <input
            type="radio"
            id="model2"
            value="model2"
            formControlName="model"
          />

          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="model model2 ff-roboto-mono">
         <p class="content">{{ form.get("content")?.value }}</p>
          <p class="author">
            <b> {{ form.get("author")?.value }} </b>
          </p>
          <div class="actions">
            <button class="actions-button">
              <img
                src="/assets/imagens/icone-favorito-ativo.png"
                alt="Ícone de favorito"
              />
            </button>
            <button class="actions-button">
              <img src="/assets/imagens/icone-editar.png" />
            </button>
            <button class="actions-button">
              <img
                src="/assets/imagens/icone-excluir.png"
                alt="Ícone de excluir"
              />
            </button>
          </div>
        </div>
      </div>
      <div class="radio-model">
        <label for="model3">
          <input
            type="radio"
            id="model3"
            value="model3"
            formControlName="model"
          />

          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="model model3 ff-roboto-mono">
          <p class="content">{{ form.get("content")?.value }}</p>
          <p class="author">
            <b> {{ form.get("author")?.value }} </b>
          </p>
          <div class="actions">
            <button class="actions-button">
              <img
                src="/assets/imagens/icone-favorito-ativo.png"
                alt="Ícone de favorito"
              />
            </button>
            <button class="actions-button">
              <img src="/assets/imagens/icone-editar.png" />
            </button>
            <button class="actions-button">
              <img
                src="/assets/imagens/icone-excluir.png"
                alt="Ícone de excluir"
              />
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <button (click)="cancelNote()" class="btn button-save">
        Cancelar
      </button>
      <button
        (click)="createNote()"
        [disabled]="!form.valid"
        [ngClass]="enableButton()"
        class="btn button"
      >
        Salvar
      </button>
    </div>
  </form>
</section>
