.save {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.actions {
  display: flex;
  justify-content: flex-end
}

.actions-button {
  border: none;
  margin-left: 5px;
  margin-top: 15px;
  background-color: transparent;
}

.button {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.create-notes {
  padding: 2rem 0;
}

.error-message {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.button-disabled {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.model{
  padding: 2rem;
  min-width: 200px;
  margin-top: 10px;
}

.model1 {
  background-image: linear-gradient(to right, #deaaff, #bf87d4);
  border-radius: 20px;
}

.model2 {
  background-image: linear-gradient(to right, #ffcbf2, #ff87ab);
  border-radius: 20px;
}

.model3 {
  background-image: linear-gradient(to right, #fff2b2, #ffe97f);
  background-color: #ffe97f;
  border-radius: 20px;
}

.model .content {
  margin: 1rem auto;
  word-wrap: break-word;
}

.model .author {
  word-wrap: break-word;
}

.button {
  background-color: #abd8e9;
  color: black;
  max-width: 270px;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.5s ease;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-image: linear-gradient(to right, #b0dcee , #84c3d6);
}

.button-disabled{
  background: #7A7F87;
  color: #FFFFFF;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  transition: 0.5s ease;
}
