.save {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.actions {
  display: flex;
  justify-content: flex-end
}

.actions-button {
  border: none;
  margin-left: 5px;
  margin-top: 15px;
  background-color: transparent;
}

.button {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

.create-notes {
  padding: 2rem 0;
}

.error-message {
  font-size: 12px;
  margin-left: 5px;
  color: red;
  margin-top: -25px;
  margin-bottom: 20px;
}

.button-disabled {
  margin: 5px;
  margin-top: 70px;
  width: 200px;
}

