
<section class="container edit-notes ff-inter">
  <header class="header">
      <h2>Adicione um <br> lembrete novo:</h2>
  </header>
  <form  [formGroup]="form">
    <label for="note">Anotação</label>
    <input
      type="textarea"
      class="input"
      id="note"
      name="note"
      formControlName="content"
      placeholder="Digite a anotação" >
      <div class="error-message" *ngIf="form.get('content')?.errors?.['required'] && form.get('content')?.touched">
        Este campo é obrigatório.
      </div>
      <div class="error-message" *ngIf="form.get('content')?.errors?.['pattern'] && form.get('content')?.touched">
        Este campo não aceita números.
      </div>
    <label for="author">Autoria</label>
    <input
      type="text"
      class="input"
      id="author"
      name="author"
      formControlName="author"
      placeholder="Digite o autor" >
      <div class="error-message" *ngIf="form.get('author')?.errors?.['required'] && form.get('author')?.touched">
        Este campo é obrigatório.
      </div>
      <div class="error-message" *ngIf="form.get('author')?.errors?.['minlength'] && form.get('author')?.touched">
        O nome do autor precisa ter no mínimo 3 caracteres.
      </div>
      <div class="error-message" *ngIf="form.get('author')?.errors?.['upperCase'] && form.get('author')?.touched">
        Este campo aceita apenas letras maiúsculas.
      </div>
      <div class="error-message" *ngIf="form.get('author')?.errors?.['pattern'] && form.get('author')?.touched">
        Este campo não aceita números.
      </div>
    <label form="model">Selecione o modelo do card: </label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model1">
          <input type="radio" id="model1" value="model1" name="model" formControlName="model" >

        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 1</span>
      </label>
      Prévia:
      <div class="model model1 ff-roboto-mono">
        <img src="/assets/imagens/model1.png" alt="Ílustração de lâmpada azul" >
        <p class="content"> {{ form.get('content')?.value }} </p>
        <p class="author"><b> {{ form.get('author')?.value }} </b></p>
      </div>
      </div>
      <div class="radio-model">
        <label for="model2">
          <input type="radio" id="model2" value="model2" name="model" formControlName="model">

        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 2</span>
      </label>
      Prévia:
      <div class="model model2 ff-roboto-mono">
        <img src="/assets/imagens/model2.png" alt="Ílustração de lâmpada rosa" >
        <p class="content"> {{ form.get('content')?.value }} </p>
        <p class="author"><b> {{ form.get('author')?.value }} </b></p>
      </div>
      </div>
      <div class="radio-model">
        <label for="model3">
          <input type="radio" id="model3" value="model3" name="model"  formControlName="model">
        <div class="custom-radio">
          <span></span>
        </div>
        <span>Modelo 3</span>
      </label>
      Prévia:
      <div class="model model3 ff-roboto-mono">
        <img src="/assets/imagens/model3.png" alt="Ílustração de lâmpada amarela" >
        <p class="content"> {{ form.get('content')?.value }} </p>
        <p class="author"><b> {{ form.get('author')?.value }} </b></p>
      </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="cancelUpdate()" class="button button-white"> Cancelar</button>
      <button
        (click)="update()"
        [disabled]="!form.valid"
        [ngClass]="enableButtonUpdate()"
        >Salvar Alterações</button>
    </div>
  </form>
</section>
