<div class="model {{ note.model }} ff-roboto-mono" [ngClass]="noteWidth()">
 <img class="ilustra" src="/assets/imagens/{{ note.model }}.png" alt="Ilustração de lâmpadas">
 <p class="content"> {{ note.content }} </p>
 <p class="author"><b>{{ note.author }}</b></p>
 <div class="actions">
    <button class="actions-button" (click)="updateFavorites()">
      <img src="/assets/imagens/icone-favorito-{{ changeFavoriteIcon() }}.png"
      alt="Ícone de favorito {{ changeFavoriteIcon() }}">
    </button>
    <button class="actions-button">
      <img src="/assets/imagens/icone-editar.png"  routerLink="/note/updateNotes/{{note.id}}">
    </button>
    <button class="actions-button">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir" routerLink="/note/deleteNotes/{{note.id}}">
    </button>
 </div>
</div>
