.actions {
  display: flex;
  justify-content: flex-end
}

.actions-button {
  border: none;
  margin-left: 5px;
  margin-top: 15px;
  background-color: transparent;
  cursor: pointer;
}

.note-large {
  width: 556px;
}

.note-small {
  width: 262px;
}

.ilustra{
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .note-large {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .note-small {
    width: 100%;
  }
}
