.actions {
  display: flex;
  justify-content: flex-end
}

.actions-button {
  border: none;
  cursor: pointer;
  margin-left: 5px;
  margin-top: 15px;
  background-color: transparent;
}

.note {
  background-color: #F8F9FE;
  padding: 1rem;
  box-sizing: border-box;
}

.note .content {
  margin: 1rem auto;
  word-wrap: break-word;
}

.note .author {
  word-wrap: break-word;
}

.model1 {
  background-color: #afe1eb;
  box-shadow: 8px 8px 0px #00b4d8;
}

.model2 {
  background-color: #ffe5ec;
  box-shadow: 8px 8px 0px #fb6f92;
}

.model3 {
  background-color: #fff2b2;
  box-shadow: 8px 8px 0px #ffd819;
}

.note-large {
  width: 556px;
}

.note-small {
  width: 262px;
}

.ilustra{
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .note-large {
    width: 100%;
  }
}
@media screen and (max-width: 426px) {
  .note-small {
    width: 100%;
  }
}
