.panel {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0 2rem;
}

.title{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: black;
  font-size: 16px;
  margin: 20px 0px 25px 25px;
  padding-top: 30px;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.without-notes {
  text-align: center;
  padding: 2rem 0 5rem;
}

.d-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.search-notes {
  background: white;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 44px;
  left: 421px;
  top: 490px;
  width: 400px;
  display: flex;
  align-items: center;
  text-align: center;
  align-self: center;
}

.search-notes img {
  padding-right: 15px;
}

input::placeholder {
  color: #a19494;
  font-weight: 400;
  font-size: 14px;
  line-height: 29px;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.filter {
  width: 100%;
  height: 100%;
  left: 437px;
  top: 537px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 29px;
  border: none;
  outline: 0;
  text-decoration: none;
  padding-left: 15px;
  border-radius: 10px;
}

.navigation{
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

.button-navigation {
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  color:#F0F8FF;
  border: none;
  cursor: pointer;
}

.clicked{
  font-size: 16px;
  font-weight: 700;
  color: #abd8e9;
}

.clicked:hover{
  background-color: transparent;
}

.notClicked{
  color:#7A7F87;
  font-weight: 700;
  font-size: 15px;
}

.button-navigation:hover{
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

.btn-icon{
  margin-right: 10px;
  width: 26px;
  height: 26px;
}

.bi-search{
  width: 26px;
  height: 26px;
  margin-right: 10px;

}

.content{
  background-color: #F0F8FF;
  border-radius: 20px;
  min-height: 350px;
}

@media screen and (min-width: 216px) {
  .search-notes {
    width: 250px;
  }
}

@media screen and (min-width: 396px) {
  .search-notes {
    width: 380px;
  }
}

@media screen and (min-width: 576px) {
  .search-notes {
    width: 400px;
  }
}

