<section class="container">
  <header class="header d-flex">
    <div class="search-notes">
      <input
        type="search"
        class="filter"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchNotes()"
        >
        <img src="/assets/imagens/lupa.png" alt="Lupa de busca">
    </div>
    <h2 class="ff-inter"> {{ title }} </h2>
    <div class="buttons">
      <button class="button" (click)="loadNotes()"> Meu Mural </button>
      <button class="button" (click)="listNotesFavorites()"> Meus favoritos </button>
      <button routerLink="/createNote" class="button">Novo pensamento</button>
    </div>
  </header>
  <div class="panel" *ngIf="notesList.length > 0, else withoutNotes">
    <div *ngFor="let note of notesList">
      <app-card-note
        [note]="note"
        [favoriteNotesList]="favoriteNotesList"
      ></app-card-note>
    </div>
  </div>
</section>
<app-load-notes-button
  [hasMoreNotes]="hasMoreNotes"
  (click)="loadMoreNotes()">
</app-load-notes-button>
<ng-template #withoutNotes>
  <div class="ff-inter without-notes">
    <p>Ainda não há nada cadastrado! </p>
  </div>
</ng-template>
