<section class="container">
  <header class="header d-flex">
    <div class="search-notes">
      <input
        type="search"
        class="filter"
        placeholder="Qual lembrete você procura?"
        autofocus
        [(ngModel)]="filter"
        (keyup)="searchNotes()"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
    </div>
  </header>
  <div>
    <div class="buttons ">
      <button class="button " (click)="loadNotes()" [ngClass]="{'clicked': !favorites, 'notClicked': favorites }" >
        Todos os lembretes
      </button>
      <button class="button" (click)="listNotesFavorites()" [ngClass]="{'clicked': favorites, 'notClicked': !favorites }" >
        Meus favoritos
      </button>
    </div>
  </div>
  <div class="content">
    <p class="ff-inter title">{{ title }}</p>
    <div class="panel" *ngIf="notesList.length > 0; else withoutNotes">
      <div *ngFor="let note of notesList">
        <app-card-note
          [note]="note"
          [favoriteNotesList]="favoriteNotesList"
        ></app-card-note>
      </div>
    </div>
    <app-load-notes-button [hasMoreNotes]="hasMoreNotes" (click)="loadMoreNotes()">
    </app-load-notes-button>
  </div>
</section>

<ng-template #withoutNotes>
  <div class="ff-inter without-notes">
    <p>Ainda não há nada cadastrado!</p>
  </div>
</ng-template>
