@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.ff-inter { font-family: 'Inter', sans-serif; }
.ff-roboto-mono { font-family: 'Roboto Mono', monospace; }
.ff-bricolage { font-family: 'Bricolage Grotesque', sans-serif;}

h2 {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.header {
  margin: 1rem auto 2rem;
}

.container {
  padding: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.button {
  background-color: #abd8e9;
  color: black;
  max-width: 270px;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.5s ease;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.button:hover {
  background-image: linear-gradient(to right, #b0dcee , #84c3d6);
}

.button-disabled{
  background: #7A7F87;
  color: #FFFFFF;
  max-width: 270px;
  width: 250px;
  padding: 1rem;
  margin: 0 auto;
  border: 2px solid #C4C4C4;
  border-radius: 10px;
  transition: 0.5s ease;
}

.button-danger{
  background: #ef233c;
}

.button-danger:hover{
  background-image: linear-gradient(to right, #ef233c , #d90429);
}

.button-secondary{
  background: #ced4da;
}

.button-secondary:hover{
  background-image: linear-gradient(to right, #ced4da , #bdc5cc);
}

.model{
  padding: 2rem;
  min-width: 200px;
  margin-top: 10px;
}

.model1 {
  background-image: linear-gradient(to right, #deaaff, #bf87d4);
  border-radius: 20px;
}

.model2 {
  background-image: linear-gradient(to right, #ffcbf2, #ff87ab);
  border-radius: 20px;
}

.model3 {
  background-image: linear-gradient(to right, #fff2b2, #ffe97f);
  background-color: #ffe97f;
  border-radius: 20px;
}

.model .content {
  margin: 1rem auto;
  word-wrap: break-word;
}

.model .author {
  word-wrap: break-word;
}

form label {
  color: black;
  font-weight: bold;
  margin: 0 0 1rem;
}

form {
  background-color: #edf1f5;
  border-radius: 20px;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

form .input {
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}


form .input:focus {
  outline: none;
  border:1px solid #abd8e9;
}



form .textarea {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.container-radio {
  display: flex;
  gap: 2.5rem;
  flex-wrap: wrap;
}

.radio {
  margin: 0;
}

input[type='radio'] {
  display: none;
}

.radio-model label {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.custom-radio {
  border: 1px solid #62a4bd;
  width: 30px;
  height: 30px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.custom-radio,
span {
  transition: 0.5s ease;
  color: black;
}

.custom-radio span {
  content: '';
  width: 18px;
  height: 18px;
  background: transparent;
  border-radius: 50%;
}

input[type='radio']:checked+.custom-radio {
  border-color: #62a4bd;
}

input[type='radio']:checked+.custom-radio span {
  background: #62a4bd;
}

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
      width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
      width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
      width: 1140px;
  }
}
