.load-more {
  margin-top: 10px;
  margin-bottom: 30px;
}

.center {
  display: flex;
  justify-content: center;
}

.message-center {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
}
