.center {
  display: flex;
  justify-content: center;
}

.message-center {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 50px;
  color: black;
}

.button {
  background-color: #abd8e9;
  color: black;
  max-width: 270px;
  padding: 1rem;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.5s ease;
  font-size: 15px;
  cursor: pointer;
  border: none;
  margin-bottom: 35px;
}

.button:hover {
  background-image: linear-gradient(to right, #b0dcee , #84c3d6);
}
