.center {
  display: flex;
  justify-content: center;
}

.message-center {
  text-align: center;
  color: black;
}

.button {
  background-color: #abd8e9;
  color: black;
  max-width: 270px;
  padding: 0.6rem;
  margin: 10px auto 40px auto;
  border-radius: 10px;
  transition: 0.5s ease;
  font-size: 15px;
  cursor: pointer;
  border: none;
  font-weight: 700;
}

.button:hover {
  background-image: linear-gradient(to right, #b0dcee , #84c3d6);
}

p{
  margin: 0;
}
